//----------------------------------*\
// MAIN
//----------------------------------*/

body {
  background-color: white;
  font-family: Jura;
  text-align: center;
  color: #B2213A;
  h1 {
    line-height: 3;
  }
  p {
    color: black;
    font-style: italic;
    font-size: 12px;
    font-weight: 600;
  }
  .item-list {
    background-color: #ededed;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 3;
    list-style-type: none;
  }
  .comment {
    display: block;
    border-bottom: 1px solid #DBDBDB;
    a {
      color: #6E6E6E;
    }
  }
}
