<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">

    <link href='https://fonts.googleapis.com/css?family=Hind+Siliguri:400,300,700,600|Jura:400,300,600|Poiret+One|Bubbler+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <link href="style/style.css" rel="stylesheet">

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/jquery.swipebox.min.js"></script>
    <script src="/js/vendor/jquery.jscroll.js"></script>
    <script src="/js/vendor/slick.js"></script>
    <script src="/js/vendor/parallax.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>
  </head>

  <body>

    <header>
      <!-- header area -->
    </header>

    <%- yield %>

    <footer>
      <!-- footer area -->
    </footer>

  </body>
</html>
